<div id="<%= dom_id resource %>">
  <p>
    <strong>Name:</strong>
    <%= resource.name %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%= resource.lesson_id %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= resource.quiz_id %>
  </p>

</div>
